{% extends "jqgrid.html" %}

{% block myjqgrid %}
    <script>
    $(function () {
        "use strict";
        $("#grid").jqGrid({
            url: '/phylo',
            datatype: 'json',
            loadonce: true,
            colModel: [
                { name: "mutation", label: "Mutation", width: 100, template: "number",
                    searchoptions: { sopt: ["nIn", "eq", "ne", "lt", "le", "gt", "ge", "in", "ni"] } },
                { name: "haplogroup", label: "Haplogroup", width: 1000 }

            ],
            pager: true,
            autoencode: true,
            viewrecords: true,
            rowNum: 10,
            rowList: [5, 10, 20, "10000:All" ],
            caption: "phylotree mutation to haplogroup mapping",
            customSortOperations: {
                // the properties of customSortOperations defines new operations
                // used in postData.filters.rules items as op peroperty
                nIn: {
                    operand: "nIN",        // will be displayed in searching Toolbar for example
                    text: "numeric IN",    // will be shown in Searching Dialog or operation menu in searching toolbar
                    filter: function (options) {
                        // The method will be called in case of filtering on the custom operation "nIn"
                        // All parameters of the callback are properties of the only options parameter.
                        // It has the following properties:
                        //     item        - the item of data (exacly like in mydata array)
                        //     cmName      - the name of the field by which need be filtered
                        //     searchValue - the filtered value typed in the input field of the searching toolbar
                        var fieldData = parseFloat(options.item[options.cmName]),
                            data = $.map(
                                options.searchValue.split(";"),
                                function (val) {
                                    return parseFloat(val);
                                }
                            );
                        return $.inArray(fieldData, data) >= 0;
                    }
                }
            },
            searching: {
                searchOperators: true,
                defaultSearch: "cn"
            }
        }).jqGrid("filterToolbar");
    });
    </script>
{% endblock %}